body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 30px;
    font-family: 'Lexend Deca', sans-serif;
    overflow-x: hidden;
}
div.nav {
    display: flex;
    height: 80px;
    padding-left: 13vw;
    padding-right: 3vw;
    padding-top: 0.2vw;
    align-items:center;
    font-family: 'Lexend Deca', sans-serif;
    background-color: rgba(255, 189, 89, 0.97)
}

.nav a{
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 350;
    margin-right: 1.5vw;
}
.nav-anchor {
    margin-left: 53vw;
}

.nav img {
    height: 50px;
}
.landing-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vw;
    justify-content: center;
    background-color: rgb(247, 247, 247);
    padding-bottom: 10vh;
}

.landing-container img {
    width:35vw;
    margin-top: 10vh;
}
.landing-text {
    margin-left: 13vw;
}

.landing-text h1 {
    font-weight: 700;
    font-size: 80px;
}

.dummy1 {
    color: #aa81f3;
}
.grad {
    border-radius: 15px;
    border: none;
    width: 150px;
    height: 30px;
    background-image: linear-gradient(90deg, rgb(170, 129, 243) 40%, rgb(0, 183, 255) 100%);
}

.landing-text h3 {
    font-size: 28px;
}

.dummy2 {
    display: inline;
    font-weight: 300;
    opacity: 40%;
}
.dummy3 {
    display: inline;
    opacity: 100%;
    font-weight: 600;
}
.company h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
}
.company-logo {
    justify-content: center;
    display: flex;
    gap: 15vw;
    margin-top: 70px;
}

.company-logo img{
    width: 80px;
}

.company {
    padding-bottom: 60px;
}

.courses {
    text-align: center;
    background-color: rgb(247, 247, 247);
    padding-top: 80px;
    padding-bottom: 80px;
}

.courses h1 {
    font-size: 30px;
    margin-bottom: 70px;
}
.course-container {
    display: flex;
    gap: 8vw;

}

.course-buttons button{
    justify-content: center;
    border: 3px solid rgb(170, 129, 243);
    background-color: white;
    font-size: 20px;
    font-weight: 900;
    padding: 15px 30px 15px 30px;
    width: 300px;
    border-radius: 5px;
    display: block;
    margin: 0 0 40px 240px;
}
.course-buttons button:hover {
    cursor: pointer;
}


.course-card {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 850px;
    height: 290px;
    padding-right: 50px;
}
.course-card img {
    height: 290px;
    width: 500px;
    border-radius: 10px 0 0 10px;
    margin-right: 50px;
}

.course-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    font-size: 15px;
    line-height: 25px;
    font-weight: 300;
}

.course-text h1 {
    font-size: 24px;
    font-weight: 500;
    margin: 30px 0;
}
.course-text p {
    margin: 0;
}
.course-text a {
    color: #aa81f3;
    text-decoration: underline;
    transition: 0.3s;
}
.course-text a:hover {
    opacity: 0.75;
}
.course-text h5 {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 10px;
}

.dummy4 {
    margin: 30px;
}

#python-btn {
    color: #aa81f3;
}

.student {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    height: min-content;
    padding-bottom: 50px;
}

.student div {
    width: 280px;
    height: min-content;
    box-shadow:2px 7px 9px rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 30px;
}
.card-1 {
    margin-left: 15vw;
}
.card-3 {
    margin-right: 15vw;
}

.dummy5 {
    text-align: center;
    margin-top: 60px;
    font-size: 30px;
}

.student p {
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    margin: 0;
}

.student h5 {
    margin: 20px 0 0 0;
}
.student h6 {
    margin: 5px 0 0 0;
    font-size: 15px;
    color: #dc8cdb;
}

.footer {
    display: flex;
    gap: 70px;
    background-image: url("https://www.filepicker.io/api/file/munzM9ViTb6xhbLs3heM");
    background-repeat: no-repeat;
    background-size: 100%;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.footer-text {
    width: 550px;
}

.footer-img img{
    width: 500px;
}

.footer-text h1 {
    margin: 150px 0 40px 0;
    font-size: 60px;
}

#dummy1 {
    font-style: italic;
}

.footer-text p{
    font-size: 14px;
    font-weight: 300;
    margin: 0;
}

.footer-links {
    background-color: #ffbd58;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 70px;
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 50px;
}
.footer-links p {
    margin: 0;
}
.footer-links a {
    margin: 0;
    text-decoration: none;
    color: white;
}